MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxx.mongodb.net/sumercemarket
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
JWT_SECRET=tu_jwt_secret
ADMIN_EMAIL=admin@sumercemarket.com
ADMIN_PASS=Admin2024*
PORT=5000
